<a href="https://colab.research.google.com/github/priya606/Taks-3/blob/main/Input_Output_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Assignment-1

---


###Accept student details with 5marks calculate total,average along with student details

In [ ]:
sname=input('enter the student name: ')
eng=int(input('enter english marks: '))
maths=int(input('enter mathematics marks: '))
sci=int(input('enter science marks: '))
social=int(input('enter social marks: '))
telugu=int(input('enter your telugu marks: '))
total=(eng+maths+sci+social+telugu)
print(total)
average=(total)/5
print(average)

enter the student name: divya
enter english marks: 40
enter mathematics marks: 45
enter science marks: 30
enter social marks: 20
enter your telugu marks: 80
215
43.0

## Assignment-2

---
###Accept 3 numbers from user calculate


*   addition

*   subraction
*  multiplication

In [ ]:
a=int(input('enter num1: '))
b=int(input('enter num2: '))
c=int(input('enter num3: '))
d=(a+b+c)
print('addition of numbers a,b,c is:',d)
e=(a-b-c)
print('subraction of numbers a,b,c is :',e)
f=(a*b*c)
print('multiplication of numbers a,b,c is :',f)

enter num1: 10
enter num2: 20
enter num3: 30
addition of numbers a,b,c is: 60
subraction of numbers a,b,c is : -40
multiplication of numbers a,b,c is : 6000

##Assignment-3

---

###Accept employee details using input function


*   empname

*  empdesg

*   empsal


*  empexp
###calculate 15%hike of employee

In [ ]:
empname=input('enter employee name:')
empdesg=input('enter employee designation:')
empsal=float(input('enter employee salary:'))
empexp=int(input('enter employee experience:'))
emphike=(empsal)*0.15
print(emphike)

enter employee name:priya
enter employee designation:ml engineer
enter employee salary:100000
enter employee experience:4
15000.0

## Assignment-4

---
###take 4 digit number from user 4593 print in actual and reverse format add total

In [24]:
num=input('enter four digit number:')
print(num[0])
print(num[1])
print(num[2])
print(num[3])
print('***********')
print(num[::-1][0])
print(num[::-1][1])
print(num[::-1][2])
print(num[::-1][3])

enter four digit number:4593
4
5
9
3
***********
3
9
5
4

##Assignment-5


---
###Take a fruit name from user try to display the individual characters of fruit name

In [ ]:
fruit=input('enter the fruit name:')
print(fruit[0])
print(fruit[1])
print(fruit[2])
print(fruit[3])
print(fruit[4])
print(fruit[5])

enter the fruit name:ORANGE
O
R
A
N
G
E

##Assignment-6

---
###Take three digit number from user in integer format--324 and display 423

In [ ]:
num=int(input('enter three digit number:'))
reverse=0
while num>0:
 remainder=num%10
 rev=((reverse*10)+remainder)
 
 num=num//10
 print('the reverse of given digit is:',rev)

enter three digit number:324
the reverse of given digit is: 4
the reverse of given digit is: 2
the reverse of given digit is: 3